@{
    ViewBag.Title = "Home";
    ViewBag.ScriptName = "Home";
}
<div class="box">
    <h2>Welcome to the demo</h2>

    @*TODO: This paragraph should be replaced with the first 10 albums in the database.*@ 
    <div></div>
</div>
<br class="clearfix" />
</div>
<div id="sidebar">
    <div class="box">
        <h3>Genres</h3>
        <ul class="list" data-bind="foreach: Genres">
            <li><a data-bind="attr: { href: '/Genres/Details/' + GenreId }, text: Name"></a></li>
        </ul>
    </div>
