@{
    ViewBag.Title = "Home";
    ViewBag.ScriptName = "Home";
}
<div class="box">
    <h2>Welcome to the demo</h2>

    <h3>The "Hello World" of KnockoutJS</h3>

    <label for="firstName">First:</label> <input id="firstName" type="text" data-bind="value: FirstName" /><br />
    <label for="lastName">Last:</label> <input id="lastName" type="text" data-bind="value: LastName" />

    <p data-bind="text: Greeting"></p>

</div>
<br class="clearfix" />
</div>
<div id="sidebar">
    <div class="box">
        <h3>Genres</h3>
        <ul class="list" data-bind="foreach: Genres">
            <li><a data-bind="attr: { href: '/Genres/Details/' + GenreId }, text: Name"></a></li>
        </ul>
    </div>
